div.confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    z-index: -1;
    transition:opacity linear 1s;
    /*transition-delay:5s;*/
}

div.confetti-hide {
    animation: confettiHide 1s 1 linear;
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
}

.confetti-piece {
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
    top: 0;
    left: var(--left);
    transform: rotate(var(--rotate));
    opacity: 0;
    animation: confettiRain 1000ms infinite ease-out;
    animation-delay: var(--delay);
    animation-duration: var(--duration);
}

    .confetti-piece:nth-child(even) {
        z-index: 1;
    }

@keyframes confettiRain {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        transform: translateY(400px);
    }
}

@keyframes confettiHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
