.confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    z-index: -1;
}

.confetti-piece {
    position: absolute;
    width: var(--width);
    height: var(--height);
    background-color: orange;
    top: 0;
    left: var(--left);
    transform: rotate(var(--rotate));
    opacity: 0;
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: var(--delay);
    animation-duration: var(--duration);
}

    .confetti-piece:nth-child(odd) {
        background-color: lightskyblue;
    }

    .confetti-piece:nth-child(even) {
        z-index: 1;
    }

    .confetti-piece:nth-child(4n) {
        width: 6px;
        height: 12px;
        animation-duration: 2000ms;
    }

    .confetti-piece:nth-child(3n) {
        width: 5px;
        height: 10px;
    }

    .confetti-piece:nth-child(4n-7) {
        background-color: mediumvioletred;
    }

@keyframes makeItRain {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translateY(400px);
    }
}
